[user]
	name = 
	email = bwm-fe@outlook.com
# [filter "lfs"]
# 	clean = git-lfs clean %f
# 	smudge = git-lfs smudge %f
# 	required = true
# [push]
# 	default = matching
# [core]
# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path = 
# [mergetool "sourcetree"]
# 	cmd = /Users/qjxking/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
# 	trustExitCode = true
# [commit]
# 	template = /Users/qjxking/.stCommitMsg